@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-SemiBoldItalic.eot");
  src: url("../../assets/fonts/subset-Muli-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-SemiBoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-Light.eot");
  src: url("../../assets/fonts/subset-Muli-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-Light.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-LightItalic.eot");
  src: url("../../assets/fonts/subset-Muli-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-LightItalic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-ExtraLight.eot");
  src: url("../../assets/fonts/subset-Muli-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-ExtraLight.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-ExtraBoldItalic.eot");
  src: url("../../assets/fonts/subset-Muli-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-ExtraBoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-BlackItalic.eot");
  src: url("../../assets/fonts/subset-Muli-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-BlackItalic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-Black.eot");
  src: url("../../assets/fonts/subset-Muli-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-Black.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-Italic.eot");
  src: url("../../assets/fonts/subset-Muli-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-Italic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-ExtraBold.eot");
  src: url("../../assets/fonts/subset-Muli-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-ExtraBold.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-Regular.eot");
  src: url("../../assets/fonts/subset-Muli-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-Regular.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-Bold.eot");
  src: url("../../assets/fonts/subset-Muli-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-Bold.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-ExtraLightItalic.eot");
  src: url("../../assets/fonts/subset-Muli-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-ExtraLightItalic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-BoldItalic.eot");
  src: url("../../assets/fonts/subset-Muli-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-BoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../assets/fonts/subset-Muli-SemiBold.eot");
  src: url("../../assets/fonts/subset-Muli-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Muli-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/subset-Muli-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.font-weight-600 {
  font-weight: 600;
}
